h1 {
  margin: 20px 0 10px;
  border: 0 0 1px;
  padding: 0 0 9px;
}

.jumbotron {
  padding: 30px;
  margin: 0 0 30px;
  font-size: 14px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eee;
  border: 1px solid transparent;
  border-color:#ddd;
}

.top-btn {
	margin: 20px 0;
}

.page-header-blank {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

.form-control-header {
    display: inline;
    width: 20%;
    height: 34px;
    margin: 20px 10px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
